.image{
    background-image: url(/images/Home.png);
    background-position: cover;
    width: 100vw;
    height: 50vh;
}
.margin{
    margin-top: 50vh;
}
.sections{
    padding-top: 20vh;
}
.sections1{
    padding-left: 7vw;
    padding-top: 15vh;
}
.btn{
    width: 200px;
    height: 50px;
    color: blue;
    border-radius: 22px;
    border: 2px solid blue;
    justify-items: center;
    /*margin-left: 50vw;
    margin-top: 80px;*/
}
.btn:hover{
    color: black;
    background-color: lightcoral;

}
.Navbar1{
    color: green;
    float: left;
    font-family: Roboto;
    font-size: 40px;
    
}
.Navbar2{
    color:whitesmoke;
    font-family: Roboto;
    padding-right:10vw ;
    font-size: 40px;
}
.btn1{
    color:white;
    margin-left:5vw;
    font-family: Roboto;
    border-radius: 22px;
    background-color: green;
    border: 2px solid white;
    height: 35px;
    width: 15vw;
}
.btn2{
    color:white;
    margin-left:1vw;
    font-family: Roboto;
    border-radius: 22px;
    border: 2px solid white;
    height: 35px;
    width: 10vw;
}

